<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hope.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Hope.Properties.Settings.OfficeConnectionString" connectionString="Data Source=(localdb)\hope;Initial Catalog=Office;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hope.Properties.Settings.PosConnectionString" connectionString="Data Source=(localdb)\hope;Initial Catalog=Pos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Hope.Properties.Settings>
            <setting name="DateCreatDataBase" serializeAs="String">
                <value>01/01/2019 23:59:59</value>
            </setting>
            <setting name="IsCreatDataBase" serializeAs="String">
                <value>True</value>
            </setting>
        </Hope.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
